Bridge.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Bridge.xcodeproj/project.xcworkspace/xcuserdata/lossefanya.xcuserdatad/UserInterfaceState.xcuserstate
Bridge.xcodeproj/xcuserdata/lossefanya.xcuserdatad/xcschemes/Bridge.xcscheme
